/* This CSS is a hot mess, my bad */
body {
    background-color:#000000;
}

@media screen and (min-width: 1000px) {
    body {
      background-color: rgb(253, 253, 253);
    }
}

*.warning {
  background-color: red;
}

.special-font{
    font-family: 'Potta One', cursive;
}

section[class="r"] {
  color: red;
}
h1 + h2 {
    color: rgb(16, 16, 17);
    margin-left: 20px;
}
h2, h3 {
    font-family: sans-serif;
}

article > p {
    font-family: sans-serif;

}

.intro {
    font-family: 'Bungee Inline', cursive;
    position: stack;
    text-align: center;

    background-color: burlywood;

    border-style: solid;
    border-color: rgb(31, 27, 26);
    border-width: 0 0 0 10px;
    border-radius: 0 48% 0 0 ;

    padding: 1em;
    margin: 20px 0px 20px 0;
}

.p {
  max-width: 100px;
  display:none;
}
.topnav {
    background-color: rgb(78, 173, 91);
    overflow: hidden;
    margin-top: 0;
    position:relative;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #1a1818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(122, 243, 128);
    color: rgb(247, 245, 245);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0c0b0b;
    color: rgb(14, 12, 12);
  }

  .container {
    text-decoration: underline bisque;
    background-color: #4CAF50;
    position: static;
    align-content: space-around;
    align-items: stretch;
    flex-flow:row-reverse;
    flex-basis: auto;
    max-width:100%;
  }

  .container > div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color:burlywood;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0;
    
    flex-grow: 12;
    justify-content: flex-start;
    align-self: baseline;
  }

  .photo {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-gap: 10px;
    }

div > img {
        object-fit: contain;
        width: 300px;
        height: 300px;
}

div > a > img {
    margin:auto;
    object-fit: fill;
    grid-template-columns: 500px 500px 500px 500px;
    width: 300px;
    height: 300px;
}
    
    